/* Screen reader only text */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* utility on share pop up activation */

.hide {
  display: none;
}

.btn-active {
  background-color: var(--color-grey-500);
}

.btn-active .card-profile-share-icon {
  filter: brightness(0) invert(1);
}