/* CARD */
.preview-card {
  /* layout */
  display: flex;
  width: 327px;
  height: 538px;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
  flex-shrink: 0;
  /* style */
  border-radius: 10px;
  background: var(--color-white);
  box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.50);
  /* position */
  position: relative;
}

/* IMAGE */
.card-img {
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

/* CONTENT */
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-600);
}

/* CONTENT TEXT */
.card-text {
  display: flex;
  width: 267px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300);
}

/* TITLE */

/* DESCRIPTION */

/* FOOTER */
.card-footer {
  display: flex;
  width: 267px;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-800);
}

/* PROFILE */
.card-profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

/* PROFILE PICTURE */
.card-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

/* USER INFORMATION */
.card-profile-info {
  display: flex;
  width: 114px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-0);
}

/* SHARE BUTTON */
.card-profile-share {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--color-grey-200);
  z-index: 3;
}

.card-profile-share-icon {
  width: 15px;
  height: 12.971px;
  flex-shrink: 0;
}


/* SMALL MOBILE (375px and up) */
@media (min-width: 375px) {}

/* TABLET (768px and up) */
@media (min-width: 768px) {

  /* CARD */
  .preview-card {
    /* layout */
    width: 608px;
    height: 346px;
    flex-direction: row;
  }

  /* IMAGE */
  .card-img {
    width: 229px;
    height: 346px;
    flex-shrink: 0;
    border-radius: 10px 0 0 10px;
  }

  /* CONTENT */
  .card-content {
    gap: var(--spacing-300);
  }

  /* CONTENT TEXT */
  .card-text {
    width: 311px;
  }

  /* FOOTER */
  .card-footer {
    width: 311px;
    justify-content: stretch;
    gap: var(--spacing-1300);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {

  /* CARD */
  .preview-card {
    /* layout */
    width: 730px;
    height: 280px;
    gap: var(--spacing-500);
  }

  /* IMAGE */
  .card-img {
    width: 285px;
    height: 280px;
  }

  /* CONTENT */
  .card-content {
    width: 365px;
  }

  /* CONTENT TEXT */
  .card-text {
    width: 365px;
  }

  /* FOOTER */
  .card-footer {
    width: 365px;
    gap: var(--spacing-2000);
  }
}