/* CARD */
.preview-card {
  /* layout */
  display: flex;
  width: var(--card-width-mobile);
  height: var(--card-height-mobile);
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
  flex-shrink: 0;
  /* style */
  border-radius: var(--border-radius-card);
  background: var(--color-white);
  box-shadow: var(--shadow-card);
  /* position */
  position: relative;
}

/* IMAGE */
.card-img {
  width: 100%;
  height: var(--card-img-height-mobile);
  border-radius: var(--border-radius-card) var(--border-radius-card) 0 0;
}

/* CONTENT */
.card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-600);
}

/* CONTENT TEXT */
.card-text {
  display: flex;
  width: var(--card-content-width-mobile);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-300);
}

/* TITLE */

/* DESCRIPTION */

/* FOOTER */
.card-footer {
  display: flex;
  width: var(--card-content-width-mobile);
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-800);
}

/* PROFILE */
.card-profile {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

/* PROFILE PICTURE */
.card-profile-img {
  width: var(--profile-img-size);
  height: var(--profile-img-size);
  border-radius: var(--border-radius-full);
}

/* USER INFORMATION */
.card-profile-info {
  display: flex;
  width: var(--profile-info-width);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-0);
}

/* SHARE BUTTON */
.card-profile-share {
  display: flex;
  width: var(--share-button-size);
  height: var(--share-button-size);
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: var(--border-radius-full);
  background-color: var(--color-grey-200);
  z-index: var(--z-index-share-button);
}

.card-profile-share-icon {
  width: var(--share-icon-width);
  height: var(--share-icon-height);
  flex-shrink: 0;
}

/* TABLET (768px and up) */
@media (min-width: 768px) {

  /* CARD */
  .preview-card {
    /* layout */
    width: var(--card-width-tablet);
    height: var(--card-height-tablet);
    flex-direction: row;
  }

  /* IMAGE */
  .card-img {
    width: var(--card-img-width-tablet);
    height: var(--card-img-height-tablet);
    flex-shrink: 0;
    border-radius: var(--border-radius-card) 0 0 var(--border-radius-card);
  }

  /* CONTENT */
  .card-content {
    gap: var(--spacing-300);
  }

  /* CONTENT TEXT */
  .card-text {
    width: var(--card-content-width-tablet);
  }

  /* FOOTER */
  .card-footer {
    width: var(--card-content-width-tablet);
    justify-content: stretch;
    gap: var(--spacing-1300);
  }
}

/* DESKTOP (1440px and up) */
@media (min-width: 1440px) {

  /* CARD */
  .preview-card {
    /* layout */
    width: var(--card-width-desktop);
    height: var(--card-height-desktop);
    gap: var(--spacing-500);
  }

  /* IMAGE */
  .card-img {
    width: var(--card-img-width-desktop);
    height: var(--card-img-height-desktop);
  }

  /* CONTENT */
  .card-content {
    width: var(--card-content-width-desktop);
  }

  /* CONTENT TEXT */
  .card-text {
    width: var(--card-content-width-desktop);
  }

  /* FOOTER */
  .card-footer {
    width: var(--card-content-width-desktop);
    gap: var(--spacing-2000);
  }
}