/* PRESET */
.text-preset-1-bold {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-heading);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 130%;
  letter-spacing: 0.25px;
  color: var(--color-grey-900);
}

.text-preset-2-medium {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  letter-spacing: 0.016px;
  color: var(--color-grey-500);
}

.text-preset-2-bold {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: 0.016px;
  color: var(--color-grey-900);
}

.text-preset-3 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-body);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 140%;
  letter-spacing: 3.25px;
  text-transform: uppercase;
  color: var(--color-grey-900);
}